@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
p{
    font-size: 2em;
}
#ff1{
    font-family: '궁서체';
}
#ff2{
    font-family: '굴림체';
}
/*  글꼴이 없는 경우를 대비해서
    ,를 사용하여 여러 글꼴을 나열할 수 있다. */
#ff3{
    font-family: '없는글꼴', '궁서>o<','고딕';
}

/* 웹 폰트 */
h1{
    /* 글꼴 */
    font-family: 'East Sea Dokdo';
}

.web-font{
    font-family: 'East Sea Dokdo', cursive;
}

#size1{
    font-size: 30px;
}
#size2{
    font-size: 2em;
}
#size3{
    font-size: 150%;
}
#fw1{
    font-weight: bold;
}
#fw2{
    font-weight: lighter;
}
#fw3{
    font-weight: 900;
}
#fv{
    /* 
       small-caps : 소문자를 대문자로(소문자 크기) 바꿉니다.
       normal : 바꾸지 않음
    */
    font-variant: small-caps;
}
#fs1{
    font-style: italic;
}
#fs2{
    font-style: oblique;
}

/* 글자색 변경하기 
    - 색상 이름 표기법
    - 16진수 표기법
    - rgb/rgba 표기법
    - hsl/hsla 표기법 (투명도)
*/

#c-name{
    /*
        이름으로 지정
        웹 안전 색상
        모든 웹 브라우저에서 표현할 수 있는 색상
        16가지 기본 색상을 포함 총 216가지
    */
    color:red;
}
#c-16{
    /*
        #과 16진수 6자리를 합쳐서 색상을 표현
        앞에서부터 2자리씩 묶어 빨강, 초록, 파랑 색상의 양을 표시
        ( 중복된 숫자인 경우 3자리로 표현 가능 #000000 -> #000 )
    */
    color:#fff;
    background-color: #000;
    padding: 20px;
    font-size: 2em;
}
#c-rgb{
    /*
        빨강, 초록, 파랑의 양을 0~255까지의 수로 표현

    */
    color: rgb(255,0,255);
}

#c-rgbA{
    /*
        a : 투명도
        0~1 까지
        0: 투명 , 1: 불투명

        a가 붙으면 투명도를 만졌다는 뜻이다.
    */
    /*
        hsl방식
        색상(hue), 채도(saturation), 밝기(light)
    */
    color: rgb(255,0,0,0.5);
    background-color: hsla(56, 68%, 50%, 0.719);
}

/* 
    밑줄에 관한 기능 
    text-decoration
*/

#td-none{
    text-decoration: none;
}
#td-underline{
    text-decoration: underline;
}
#td-overline{
    text-decoration: overline;
}
#td-line-through{
    text-decoration: line-through;
}

li{
    padding: 20px;
    /* 선의 두께, 선 스타일, 색상 */
    border: 1px dotted #000;
}

a{
    color: #666;
    font-size: 1.5em;
    text-decoration: none;
}

#ts1{
    font-size: 1.5em;
    font-weight: 900;
    color: blueviolet;
    text-shadow: 1px 10px 3px black;
}

#ts2{
    color: pink;
    text-shadow: 2px 5px 2px rgb(255,0,255);
}
#ts3{
    color: purple;
    font-size: 1.5em;
    text-shadow: 4px 2.5px 2px rgb(133, 26, 233);
}
#tt1{
    text-transform: none;
}
/* 맨 앞글자만 대문자 */
#tt2{
    text-transform: capitalize;
}
/* 전부 대문자 */
#tt3{
    text-transform: uppercase;
}
/* 전부 소문자 */
#tt4{
    text-transform: lowercase;
}